{% extends 'base.html' %}
{% block contenido %}
<h2>LISTA DE ADMINISTRADORES</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th>DEPARTAMENTO</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in lista_administradores %}
            <tr>
                <td>{{ admin.nombre }}</td>
                <td>{{ admin.edad }}</td>
                <td>{{ admin.departamento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2>CREAR ADMINISTRADOR ACA</h2>
<a href="{% url 'administradores:crearadmin' %}">CREAR</a>
{% endblock %}