<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio</title>
</head>

<body>
    <h1>INFORMACION</h1>
    <ul>
        <li><a href="{% url 'home:homeapp' %}">HOME</a></li>
        <li><a href="{% url 'estudiantes:estuapp' %}">ESTUDIANTES</a></li>
        <li><a href="{% url 'administradores:adminapp' %}">ADMINISTRADORES</a></li>
        <li><a href="{% url 'informacion:infoapp' %}">ACERCA DE</a></li>
    </ul>

    <div class="card p-4 shadow-sm mb-4">
        <h2 class="h5 card-title">Información Personal</h2>
        <p class="mb-1"><strong>Nombre:</strong> Jose Cabrera</p>
        <p class="mb-1"><strong>Carnet:</strong> 5190-19-13600</p>
        <p class="mb-1"><strong>Edad:</strong> 26 años</p>
        <p class="mb-0"><strong>Curso:</strong> Desarrollo Web</p>
    </div>
</body>

</html>