{% extends 'base.html' %}

{% block contenido %}
<h2>LISTADO DE ESTUDIANTES</h2>
<table border="1">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>EDAD</th>
                    <th>CURSO</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in lista_estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.edad }}</td>
                    <td>{{ estudiante.curso }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</table>

<h2>CREAR CLIENTE ACA</h2>
<a href="{% url 'estudiantes:crear' %}">CREAR</a>
{% endblock %}