{% extends 'base.html' %}
{% block contenido %}
<h2>LISTA DE PUBLICACIONES</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>TITULO</th>
                <th>FECHA DE PUBLICACION</th>
                <th>AUTOR</th>
                <th>ACCIONES</th>

            </tr>
        </thead>
        <tbody>
            {% for publi in lista_publicaciones %}
            <tr>
                <td>{{ publi.titulo }}</td>
                <td>{{ publi.fecha_publicacion }}</td>
                <td>{{ publi.autor }}</td>
                <td>
                    <a href="{% url 'publicaciones:editarpubli' publi.id %}" class="btn btn-warning">EDITAR</a>
                    <a href="{% url 'publicaciones:verpubli' publi.pk %}" class="btn btn-info">VER</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2>CREAR PUBLICACION</h2>
<a href="{% url 'publicaciones:crearpubli' %}">CREAR</a>
{% endblock %}